@charset "UTF-8";

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    background-color:hsl(0, 0%, 12%);
    width: 450px;
    border-radius: 20px;
}

.jessica {
    text-align: center;
}

img {
    width: 130px;
    border-radius: 50%;
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 500;
}

h2 {
    text-align: center;
    color: hsl(75, 94%, 57%);
    font-size: 14pt;
    font-weight: 400;
}

p {
    text-align: center;
    color: rgba(255, 255, 255, 0.671);
    margin-top: 30px;
    margin-bottom: 30px;
}

ul a {
    color: white;
}

li {
    list-style: none;
    padding: 20px;
    font-weight: 600;
    font-size: 14pt;
    text-align: center;
}

.git {
    background-color: hsl(0, 0%, 20%);
    width: 335px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.front {
    background-color: hsl(0, 0%, 20%);
    width: 335px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.link {
    background-color: hsl(0, 0%, 20%);
    width: 335px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.twit {
    background-color: hsl(0, 0%, 20%);
    width: 335px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.inst {
    background-color: hsl(0, 0%, 20%);
    width: 335px;
    border-radius: 10px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.363);
}

.attribution a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

